@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Begin General*/
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 107%;
}

body{
    background-image: url('/img/bookregister.jpg');
    background-size: cover;
}
/*End General*/

/*Begin Menu*/
.menu{
    width: 100%;
    height: 55px;
    background-color: #323232;
    border-bottom: 5px solid aliceblue;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #323232;
    color: aliceblue;
    font-weight: bold;
    border-right: 2px solid aliceblue;    
}

.menu a:hover{
    color: brown;
    transition: .3s;
}
/*End Menu*/

/*Begin Form*/
div#titulo{
    text-align: center;
    color: aliceblue;
    margin-bottom: 2%;
}

div#container{
    margin-top: 4%;
    background-color: rgba(32, 32, 32, .7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
}

input#title, 
input#autor, 
input#year, 
input#publisher, 
input#isbn{
    display: flex;
    margin: 1% auto 2% auto;
    height: 40px;
    width: 50%;
    color: aliceblue;
    background-color: transparent;
    border-bottom: 3px solid aliceblue;
} 

input#title:focus, 
input#autor:focus, 
input#year:focus, 
input#publisher:focus, 
input#isbn:focus{
    border-bottom: 3px solid brown;
    transition: .3s;
}

label{
    font-weight: bold;
    color: aliceblue;
    margin-left: 25%;
}

input#register{
    margin-top: 2%;
    margin-left: 37.5%;
    width: 25%;
    height: 40px;
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
}

input#register:hover{
    background-color: brown;
    transition: .3s;
}
/*End Form*/